<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CURRENT: 2.2.13-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">

    <!-- TEST BACKUP 2.1.4-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">-->

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    <title>RESTful Blog</title>
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i> RESTful</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>

    </div>

</div>

